In [3]:
import pandas as pd
import numpy as np

train_url = "https://raw.githubusercontent.com/VinAIResearch/COVID19Tweet/master/train.tsv"
train_df = pd.read_csv(train_url, header=None, sep='\t')[1:]
train_df.head()

,0,1,2
1,1241490299215634434,Official death toll from #covid19 in the Unite...,INFORMATIVE
2,1245916400981381130,"Dearest Mr. President @USER 1,169 coronavirus ...",INFORMATIVE
3,1241132432402849793,Latest Updates March 20 ‚ö†Ô∏è5274 new cases and 3...,INFORMATIVE
4,1236107253666607104,ÁúüÊääÂÖ¨‰∏ª‰∏çÂΩìÂπ≤ÈÉ® BREAKING: 21 people on Grand Princess...,INFORMATIVE
5,1239673817552879619,OKLAHOMA CITY ‚Äî The State Department of Educat...,UNINFORMATIVE

In [6]:
valid_url = "https://raw.githubusercontent.com/VinAIResearch/COVID19Tweet/master/valid.tsv"
valid_df = pd.read_csv(valid_url, header=None, sep='\t')
valid_df.head()

,0,1,2
0,1241728922192142336,For those saying Pakistan isn‚Äôt Italy; After 3...,UNINFORMATIVE
1,1235713405992030209,Second case DR üá©üá¥ The Canadian woman has not b...,INFORMATIVE
2,1245941302367305728,Kill Chain: the cyber war on America's electio...,UNINFORMATIVE
3,1245913002840391681,Town hosts FIRST #Virtual #TownCouncil meeting...,UNINFORMATIVE
4,1240543259299987457,Report suggested that the actual number of und...,UNINFORMATIVE

In [8]:
train_informatives = train_df[train_df[2]=='INFORMATIVE']
train_uninformatives = train_df[train_df[2]=='UNINFORMATIVE']
print(train_informatives.shape)
print(train_uninformatives.shape)

(3273, 3)
(3663, 3)

In [10]:
valid_informatives = valid_df[valid_df[2]=='INFORMATIVE']
valid_uninformatives = valid_df[valid_df[2]=='UNINFORMATIVE']
print(valid_informatives.shape)
print(valid_uninformatives.shape)

(472, 3)
(528, 3)

In [12]:
inf1 = train_informatives[:3000]
inf2 = train_informatives[3000:]
uninf1 = train_uninformatives[:3000]
uninf2 = train_uninformatives[3000:]
print(inf1.shape)
print(inf2.shape)
print(uninf1.shape)
print(uninf2.shape)

(3000, 3)
(273, 3)
(3000, 3)
(663, 3)

In [15]:
final_train = pd.concat([inf1, uninf1]).reset_index(drop=True)
final_train = final_train.reindex(np.random.permutation(final_train.index)).reset_index(drop=True)
print(final_train.shape)
print(final_train.index)
final_train.head()

(6000, 3)
RangeIndex(start=0, stop=6000, step=1)

,0,1,2
0,1236132643487399938,BREAKING NEWS: Utah confirms first case of COV...,INFORMATIVE
1,1236565724547563520,Despite the constant negative press covfefe Co...,UNINFORMATIVE
2,1241239980380487680,(Mirror):Two cruise ships could be used as flo...,UNINFORMATIVE
3,1237217314900078592,Over 50K ppl. have RECOVERED from the corona v...,INFORMATIVE
4,1246067420663443459,"Oldest #CoronaVirus patients in #Kerala, 93-yr...",INFORMATIVE

In [18]:
final_valid = pd.concat([valid_informatives, inf2[:40]])
inf3 = inf2[40:]
final_valid = pd.concat([final_valid, valid_uninformatives[:512]])
uninf3 = valid_uninformatives[512:]
final_valid = final_valid.reset_index(drop=True)
final_valid = final_valid.reindex(np.random.permutation(final_valid.index)).reset_index(drop=True)
print(final_valid.shape)
print(final_valid.index)
final_valid.head()

(1024, 3)
RangeIndex(start=0, stop=1024, step=1)

,0,1,2
0,1241150967946424320,"In #Italy, a country of 60 million, over 600 d...",INFORMATIVE
1,1243532023765049345,Well this is interesting... Coronavirus Ravage...,INFORMATIVE
2,1244888881549332487,COVID-19 has claimed more than 40 lives in Ind...,INFORMATIVE
3,1235663261191684096,.@USER is providing an update on the coronavir...,INFORMATIVE
4,1239231851346231303,Wouldn't it be good for UK government to test ...,UNINFORMATIVE

In [19]:
print(inf3.shape)
print(uninf3.shape)

(233, 3)
(16, 3)

In [20]:
final_test = pd.concat([inf3, uninf3, uninf2]).reset_index(drop=True)
final_test = final_test.reindex(np.random.permutation(final_test.index))
print(final_test.shape)
print(final_test.index)
final_test.head()

(912, 3)
Int64Index([349, 402, 770,  38, 858, 194, 597, 614, 696, 508,
            ...
            709, 811, 795, 425, 584, 151, 609, 123, 362, 186],
           dtype='int64', length=912)

,0,1,2
349,1245948405488254976,Trump‚Äôs attitude toward America during the cor...,UNINFORMATIVE
402,1245812496507777031,We have no idea how many people have been infe...,UNINFORMATIVE
770,1244858485814235137,[ #Apple #Spring 2020 Announcements : Everythi...,UNINFORMATIVE
38,1248967976910327808,After a day when the US has had more than 2000...,INFORMATIVE
858,1236091789540503554,Trump compares coronavirus tests to Ukraine ca...,UNINFORMATIVE

In [21]:
final_train[2].value_counts()

INFORMATIVE      3000
UNINFORMATIVE    3000
Name: 2, dtype: int64

In [22]:
final_valid[2].value_counts()

INFORMATIVE      512
UNINFORMATIVE    512
Name: 2, dtype: int64

In [23]:
final_test[2].value_counts()

UNINFORMATIVE    679
INFORMATIVE      233
Name: 2, dtype: int64

In [24]:
final_train.to_csv('./data/raw/train.tsv', sep='\t', header=False, index=False)
final_valid.to_csv('./data/raw/valid.tsv', sep='\t', header=False, index=False)
final_test.to_csv('./data/raw/test.tsv', sep='\t', header=False, index=False)