In [23]:
import pandas as pd
import numpy as np

train_url = "https://raw.githubusercontent.com/VinAIResearch/COVID19Tweet/master/train.tsv"
train_df = pd.read_csv(train_url, header=None, sep='\t')[1:]
print(train_df.info())
print(train_df[2].value_counts())
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6936 entries, 1 to 6936
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6936 non-null   object
 1   1       6936 non-null   object
 2   2       6936 non-null   object
dtypes: object(3)
memory usage: 162.7+ KB
None
UNINFORMATIVE    3663
INFORMATIVE      3273
Name: 2, dtype: int64

,0,1,2
1,1241490299215634434,Official death toll from #covid19 in the Unite...,INFORMATIVE
2,1245916400981381130,"Dearest Mr. President @USER 1,169 coronavirus ...",INFORMATIVE
3,1241132432402849793,Latest Updates March 20 ‚ö†Ô∏è5274 new cases and 3...,INFORMATIVE
4,1236107253666607104,ÁúüÊääÂÖ¨‰∏ª‰∏çÂΩìÂπ≤ÈÉ® BREAKING: 21 people on Grand Princess...,INFORMATIVE
5,1239673817552879619,OKLAHOMA CITY ‚Äî The State Department of Educat...,UNINFORMATIVE

In [25]:
valid_url = "https://raw.githubusercontent.com/VinAIResearch/COVID19Tweet/master/valid.tsv"
valid_df = pd.read_csv(valid_url, header=None, sep='\t')
print(valid_df.info())
print(valid_df[2].value_counts())
valid_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   int64
 1   1       1000 non-null   object
 2   2       1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB
None
UNINFORMATIVE    528
INFORMATIVE      472
Name: 2, dtype: int64

,0,1,2
0,1241728922192142336,For those saying Pakistan isn‚Äôt Italy; After 3...,UNINFORMATIVE
1,1235713405992030209,Second case DR üá©üá¥ The Canadian woman has not b...,INFORMATIVE
2,1245941302367305728,Kill Chain: the cyber war on America's electio...,UNINFORMATIVE
3,1245913002840391681,Town hosts FIRST #Virtual #TownCouncil meeting...,UNINFORMATIVE
4,1240543259299987457,Report suggested that the actual number of und...,UNINFORMATIVE

In [26]:
train_informatives = train_df[train_df[2]=='INFORMATIVE']
train_uninformatives = train_df[train_df[2]=='UNINFORMATIVE']
print(train_informatives.shape)
print(train_uninformatives.shape)

(3273, 3)
(3663, 3)

In [27]:
valid_informatives = valid_df[valid_df[2]=='INFORMATIVE']
valid_uninformatives = valid_df[valid_df[2]=='UNINFORMATIVE']
print(valid_informatives.shape)
print(valid_uninformatives.shape)

(472, 3)
(528, 3)

In [28]:
inf1 = train_informatives[:3200]
inf2 = train_informatives[3200:]
uninf1 = train_uninformatives[:3200]
uninf2 = train_uninformatives[3200:]
print(inf1.shape)
print(inf2.shape)
print(uninf1.shape)
print(uninf2.shape)

(3200, 3)
(73, 3)
(3200, 3)
(463, 3)

In [29]:
final_train = pd.concat([inf1, uninf1]).reset_index(drop=True)
final_train = final_train.reindex(np.random.permutation(final_train.index)).reset_index(drop=True)
print(final_train.shape)
print(final_train.index)
final_train.head()

(6400, 3)
RangeIndex(start=0, stop=6400, step=1)

,0,1,2
0,1242404696087805952,11 hospitals in J&amp;K to be converted into C...,UNINFORMATIVE
1,1236300490952134656,Breakingnews: #Russia has been suspected of us...,UNINFORMATIVE
2,1241859385456017408,The rainbow is a reminder of an important prom...,UNINFORMATIVE
3,1236095383685787650,Importance of testing and understanding the de...,INFORMATIVE
4,1236125643516964865,Colombia confirms first case of #COVID19; the ...,INFORMATIVE

In [16]:
final_valid = pd.concat([valid_informatives, inf2[:40]])
inf3 = inf2[40:]
final_valid = pd.concat([final_valid, valid_uninformatives[:512]])
uninf3 = valid_uninformatives[512:]
final_valid = final_valid.reset_index(drop=True)
final_valid = final_valid.reindex(np.random.permutation(final_valid.index)).reset_index(drop=True)
print(final_valid.shape)
print(final_valid.index)
final_valid.head()

(1024, 3)
RangeIndex(start=0, stop=1024, step=1)

,0,1,2
0,1241192691985047553,Moleculin Bio +15% premarket on filing new pat...,UNINFORMATIVE
1,1241128053612269568,"On February 15, Italy had just 3 Cases. China ...",INFORMATIVE
2,1235971989837357056,Do you have questions about #COVID19? Visit HT...,UNINFORMATIVE
3,1239239262039662596,‚óãCoronavirus HYSTERIA‚óã Detected in US- 1/21/20...,INFORMATIVE
4,1241185016937418752,Hey @USER a german friend of mine is staying a...,UNINFORMATIVE

In [17]:
print(inf3.shape)
print(uninf3.shape)

(33, 3)
(16, 3)

In [18]:
final_test = pd.concat([inf3, uninf3, uninf2]).reset_index(drop=True)
final_test = final_test.reindex(np.random.permutation(final_test.index))
print(final_test.shape)
print(final_test.index)
final_test.head()

(512, 3)
Int64Index([111, 246, 396, 110, 380,  50, 456, 435, 195, 139,
            ...
            180,   0, 481, 293, 243,  67, 253, 263,  53, 177],
           dtype='int64', length=512)

,0,1,2
111,1248733854279450624,"Sana after holy week, makarecover na ang buong...",UNINFORMATIVE
246,1241179216575705088,Restaurants have been very hard hit by the cor...,UNINFORMATIVE
396,1246868298421145601,Cuomo Says New York CCP Virus Deaths Are Down ...,UNINFORMATIVE
110,1250806187471384576,ü¶† #Ukraine does much fewer tests than other co...,UNINFORMATIVE
380,1241671694487609344,@USER please kindly confirm this news for Nige...,UNINFORMATIVE

In [19]:
final_train[2].value_counts()

UNINFORMATIVE    3200
INFORMATIVE      3200
Name: 2, dtype: int64

In [20]:
final_valid[2].value_counts()

UNINFORMATIVE    512
INFORMATIVE      512
Name: 2, dtype: int64

In [21]:
final_test[2].value_counts()

UNINFORMATIVE    479
INFORMATIVE       33
Name: 2, dtype: int64

In [22]:
final_train.to_csv('./data/raw/train.tsv', sep='\t', header=False, index=False)
final_valid.to_csv('./data/raw/valid.tsv', sep='\t', header=False, index=False)
final_test.to_csv('./data/raw/test.tsv', sep='\t', header=False, index=False)