In [1]:
import pandas as pd
import numpy as np

train_url = "https://raw.githubusercontent.com/VinAIResearch/COVID19Tweet/master/train.tsv"
train_df = pd.read_csv(train_url, header=None, sep='\t')[1:]
print(train_df.info())
print(train_df[2].value_counts())
train_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6936 entries, 1 to 6936
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6936 non-null   object
 1   1       6936 non-null   object
 2   2       6936 non-null   object
dtypes: object(3)
memory usage: 162.7+ KB
None
UNINFORMATIVE    3663
INFORMATIVE      3273
Name: 2, dtype: int64

,0,1,2
1,1241490299215634434,Official death toll from #covid19 in the Unite...,INFORMATIVE
2,1245916400981381130,"Dearest Mr. President @USER 1,169 coronavirus ...",INFORMATIVE
3,1241132432402849793,Latest Updates March 20 ‚ö†Ô∏è5274 new cases and 3...,INFORMATIVE
4,1236107253666607104,ÁúüÊääÂÖ¨‰∏ª‰∏çÂΩìÂπ≤ÈÉ® BREAKING: 21 people on Grand Princess...,INFORMATIVE
5,1239673817552879619,OKLAHOMA CITY ‚Äî The State Department of Educat...,UNINFORMATIVE

In [2]:
train_informatives = train_df[train_df[2]=='INFORMATIVE']
train_uninformatives = train_df[train_df[2]=='UNINFORMATIVE']
print(train_informatives.shape)
print(train_uninformatives.shape)

(3273, 3)
(3663, 3)

In [3]:
inf1 = train_informatives[:3100]
inf2 = train_informatives[3100:]
uninf1 = train_uninformatives[:3100]
uninf2 = train_uninformatives[3100:]
print(inf1.shape)
print(inf2.shape)
print(uninf1.shape)
print(uninf2.shape)

(3100, 3)
(173, 3)
(3100, 3)
(563, 3)

In [4]:
final_train = pd.concat([inf1, uninf1]).reset_index(drop=True)
final_train = final_train.reindex(np.random.permutation(final_train.index)).reset_index(drop=True)
print(final_train.shape)
print(final_train.index)
print(final_train[2].value_counts())
final_train.head()

(6200, 3)
RangeIndex(start=0, stop=6200, step=1)
INFORMATIVE      3100
UNINFORMATIVE    3100
Name: 2, dtype: int64

,0,1,2
0,1236101623258087424,@USER Hey Rebecca. Buried in all the conversat...,UNINFORMATIVE
1,1248797183597559811,The Justice Department opened a probe of a Mas...,UNINFORMATIVE
2,1236134832012288000,Vietnam just recorded its 17th case of COVID-1...,INFORMATIVE
3,1241509157380993025,We received information that a Trader Joe‚Äôs cr...,INFORMATIVE
4,1236094875482742784,Trump described Washington Gov. Jay Inslee as ...,INFORMATIVE

In [5]:
valid_url = "https://raw.githubusercontent.com/VinAIResearch/COVID19Tweet/master/valid.tsv"
valid_df = pd.read_csv(valid_url, header=None, sep='\t')
print(valid_df.info())
print(valid_df[2].value_counts())
valid_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   int64
 1   1       1000 non-null   object
 2   2       1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB
None
UNINFORMATIVE    528
INFORMATIVE      472
Name: 2, dtype: int64

,0,1,2
0,1241728922192142336,For those saying Pakistan isn‚Äôt Italy; After 3...,UNINFORMATIVE
1,1235713405992030209,Second case DR üá©üá¥ The Canadian woman has not b...,INFORMATIVE
2,1245941302367305728,Kill Chain: the cyber war on America's electio...,UNINFORMATIVE
3,1245913002840391681,Town hosts FIRST #Virtual #TownCouncil meeting...,UNINFORMATIVE
4,1240543259299987457,Report suggested that the actual number of und...,UNINFORMATIVE

In [7]:
test_url = "./data/raw/labeled_test.tsv"
test_df = pd.read_csv(test_url, header=None, sep='\t')
print(test_df.info())
print(test_df[2].value_counts())
test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       400 non-null    int64
 1   1       400 non-null    object
 2   2       400 non-null    object
dtypes: int64(1), object(2)
memory usage: 9.5+ KB
None
INFORMATIVE      227
UNINFORMATIVE    173
Name: 2, dtype: int64

,0,1,2
0,1241478564089942022,Fox Business' Lou Dobbs Self-Quarantines After...,INFORMATIVE
1,1241500696345751552,Results from UVRI showed the sample is positiv...,INFORMATIVE
2,1245646774003314689,"Today or tomorrow, the number of #COVID√£∆í¬º19 c...",INFORMATIVE
3,1249027559003770880,Ramsey County veterans experiencing negative f...,UNINFORMATIVE
4,1245912151082090497,The #Covid19 death rate in New Orleans is 7x h...,INFORMATIVE

In [8]:
test_df = pd.concat([test_df, inf2]).reset_index(drop=True)
print(test_df.info())
print(test_df[2].value_counts())
test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573 entries, 0 to 572
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       573 non-null    object
 1   1       573 non-null    object
 2   2       573 non-null    object
dtypes: object(3)
memory usage: 13.6+ KB
None
INFORMATIVE      400
UNINFORMATIVE    173
Name: 2, dtype: int64

,0,1,2
0,1241478564089942022,Fox Business' Lou Dobbs Self-Quarantines After...,INFORMATIVE
1,1241500696345751552,Results from UVRI showed the sample is positiv...,INFORMATIVE
2,1245646774003314689,"Today or tomorrow, the number of #COVID√£∆í¬º19 c...",INFORMATIVE
3,1249027559003770880,Ramsey County veterans experiencing negative f...,UNINFORMATIVE
4,1245912151082090497,The #Covid19 death rate in New Orleans is 7x h...,INFORMATIVE

In [9]:
test_df = pd.concat([test_df, uninf2[:275]]).reset_index(drop=True)
uninf2 = uninf2[275:]
print(test_df.info())
print(test_df[2].value_counts())
test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848 entries, 0 to 847
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       848 non-null    object
 1   1       848 non-null    object
 2   2       848 non-null    object
dtypes: object(3)
memory usage: 20.0+ KB
None
UNINFORMATIVE    448
INFORMATIVE      400
Name: 2, dtype: int64

,0,1,2
0,1241478564089942022,Fox Business' Lou Dobbs Self-Quarantines After...,INFORMATIVE
1,1241500696345751552,Results from UVRI showed the sample is positiv...,INFORMATIVE
2,1245646774003314689,"Today or tomorrow, the number of #COVID√£∆í¬º19 c...",INFORMATIVE
3,1249027559003770880,Ramsey County veterans experiencing negative f...,UNINFORMATIVE
4,1245912151082090497,The #Covid19 death rate in New Orleans is 7x h...,INFORMATIVE

In [10]:
final_train.to_csv('./data/raw/train.tsv', sep='\t', header=False, index=False)
valid_df.to_csv('./data/raw/valid.tsv', sep='\t', header=False, index=False)
test_df.to_csv('./data/raw/test.tsv', sep='\t', header=False, index=False)